################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CRUD_COM_WEB_API/v15/Server/sqlite3/db.lock
